{% extends 'AcmeDemoBundle::app_layout.html.twig' %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}{% endblock %}
{% block content %}

    <div style="margin:50px">

    {% if app.security.token and (is_granted('ROLE_ADMIN') )%}
    <h3>Exportation des données collectées vers Excel :</h3>
    <br/><br/>
    <form method="post" action="{{ path('_generateXlsFileExecute') }}" enctype="multipart/form-data">
    <p><b>Week :</b></p>
    <div style="margin:20px 0">
      <select name="week">
        {% for date, libelle in weeksList %}
          <option value="{{ date }}" {{ (date == currentWeek ? ' selected ' : '') }}>{{ libelle }}</option>
        {% endfor %}
      </select>
      <!-- Du :<input type="text" name="date_debut" id="date_debut" class="sonata-medium-date" data-date-format="DD/MM/YYYY" value="{{ "now"|date("d/m/Y") }}">
      Au : <input type="text" name="date_fin" id="date_fin" class="sonata-medium-date" data-date-format="DD/MM/YYYY"value="{{ "tomorrow"|date("d/m/Y") }}">-->
    </div>
    <br/><br/>
    <input type="submit" name="export_data1" class="btn btn-danger" value="Exporter les données shelfshare"/>
    <input type="submit" name="export_data2" class="btn btn-danger" value="Exporter les données de disponiblité"/>
    </form>
    <script type="text/javascript">
        jQuery(function ($) {
            $('#date_fin').datetimepicker({"pickTime":false,"useCurrent":true,"minDate":"1\/1\/1900","maxDate":"","language":"fr","defaultDate":"","disabledDates":[],"enabledDates":[],"icons":{"time":"glyphicon glyphicon-time","date":"glyphicon glyphicon-calendar","up":"glyphicon glyphicon-chevron-up","down":"glyphicon glyphicon-chevron-down"},"useStrict":true,"showToday":"false"});
            $('#date_debut').datetimepicker({"pickTime":false,"useCurrent":true,"minDate":"1\/1\/1900","maxDate":"","language":"fr","defaultDate":"","disabledDates":[],"enabledDates":[],"icons":{"time":"glyphicon glyphicon-time","date":"glyphicon glyphicon-calendar","up":"glyphicon glyphicon-chevron-up","down":"glyphicon glyphicon-chevron-down"},"useStrict":true,"showToday":"false"});
        });
    </script>
    <br/><br/>
    <br/><br/>

    {% endif %}

    </div>
    </div>
    {{ sonata_block_render_event('sonata.admin.dashboard.bottom', { 'admin_pool': admin_pool }) }}

{% endblock %}
